<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalInformation.Properties.Settings.ERPConnectionString"
            connectionString="Data Source=DZEKX7NU0G5GWI8;Initial Catalog=ERP;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>