<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="MName" value= "l2BRkRLGK0mx8xKgFUhUJqbGDWnVLd0K37tQjbqo9QLJ7KrxyW/+cUNIYbYmDzVtJvUsk5Cxq9DONy2wz9Kafx+La/Xkb8ZD/SR5MDC/PmhbI/SX4krwQw==" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>