<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="MName" value= "Data Source=.;User Id='sa';Password='yangyunping1991';Initial Catalog='ERP'" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>